{% extends "layout.html.twig" %}


{% block title 'Admin - Gestion des commandes' %}
    
{% block content %}
    
    <h1>Gestion des commandes</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID commande</th>
                <th>ID entreprise</th>
                <th>Montant</th>
                <th>Nombre de jetons</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
        </thead>
        
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.id_company }}</td>
                    <td>{{ order.amount }}</td>
                    <td>{{ order.nb_of_tokens }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.status }}</td>
                    <a
                        href="{{ path('admin_order_edit', {id: order.id}) }}"
                        class="btn btn-primary">
                        Modifier
                    </a>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
{% endblock %}