{% extends "layout.html.twig" %}


{% block title 'Admin - Gestion des commandes' %}
    
{% block content %}
    
    <h1>Gestion des commandes</h1>
    <br>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="padding:10px;" class="text-center">ID commande</th>
                <th style="padding:10px;" class="text-center">ID entreprise</th>
                <th style="padding:10px;" class="text-center">Montant</th>
                <th style="padding:10px;" class="text-center">Nombre de jetons</th>
                <th style="padding:10px;" class="text-center">Date</th>
                <th style="padding:10px; width:200px;" class="text-center">Statut</th>
                <th style="" class="text-center">Modifier</th>
            </tr>
        </thead>
        
        <tbody>
            {% for order in orders %}
                <tr style="padding:5px;">
                    <td style="padding:5px;">{{ order.id }}</td>
                    <td style="padding:5px;">{{ order.idCompany }}</td>
                    <td style="padding:5px;">{{ order.amount }}</td>
                    <td style="padding:5px;">{{ order.nbOfTokens }}</td>
                    <td style="padding:5px;">{{ order.orderDate|date('d/m/Y H:m:s') }}</td>
                    <td style="padding:5px;">{{ order.status }}</td>
                    <td style="padding:5px">
                        <a
                        href="{{ path('admin_edit_order', {id: order.id}) }}"
                        class="btn btn-primary">
                        Modifier
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
{% endblock %}