{% extends "layout.html.twig" %}

{% block title 'CV Réf : ' %}

{% block content %}
<div class="box-resume"> 
    {#<a href="{{ path('company_resume_search') }}"><< Revenir à la recherche</a>#}
    
    <div class="row box-header box-header-company">
        <div id="header-box" class="col-md-12">
            <h3 class="resume-title resume-title-info-perso"> INFORMATIONS PERSONNELLES</h3>
            <ul>
                <li><strong><span id="span-firstname">{% if user is not empty %}{{ user.firstname }}{% endif %}</span> {% if user is not empty %}{{ user.lastname|upper }}{% endif %}</span></strong></li>
                <li>Email : <span id="span-email">{% if user is not empty %}{{ user.email }}{% endif %}</span></li>
                <li>Téléphone : <span id="span-telephone">{% if user is not empty %}{{ user.telephone }}{% endif %}</span></li>
                <li>Code postal : <span id="span-postcode">{% if user is not empty %}{{ user.postcode }}{% endif %}</span></li>
            </ul>
        </div>
                
        {% if user is empty %}   
        <div id="box-buttons">
            <div class="col-md-6">
                <button class="btn btn-default reveal-btn" reference="{{ resume.id }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Débloquer ce CV</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default"><i class="fa fa-star-o" aria-hidden="true"></i> Ajouter ce CV à vos favoris</button>
            </div>
            <img src="{{ asset('img/bigLogo.png') }}" alt=""/>
        </div>
        {% endif %}
    </div>
    
    {# Rendu du CV #}
    {% include 'resume/resume_display.html.twig' %} {# Inclusion du fichier de l'affichage standard du CV #}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        
        $(function(){
           //alert('ok');
           //$('#header-box').hide();
            $('.reveal-btn').click(function(e){
                e.preventDefault();
                let resumeId = $(this).attr('reference');
                var url = '{{ path('company_reveal_resume', {resumeId: resume.id}) }}';
                //let url = "reveler_cv/" + resumeId;
                $.post(url, function (response){
                    if (response != "error"){
                    console.log(response);
                    $('#header-box').show();
                    $('#box-buttons').fadeOut(400);
                    
                    $('#span-firstname').text(response.firstname);
                    $('#span-lastname').text(response.lastname);
                    $('#span-email').text(response.email);
                    $('#span-telephone').text(response.telephone);
                    $('#span-postcode').text(response.postcode);
                } else {
                }
                });
            });
    
        });
    </script>
    
{% endblock %}