{% extends 'layout.html.twig' %}

{% block title 'Inscription Entreprise' %}

{% block content  %}
    <!-- INSCRIPTION ENTREPRISE -->
    <form method='post'>
        <h3>INSCRIPTION ENTREPRISE</h3>
        
        <p><span class="red-star">*</span> Champs obligatoires</p>
        <br>
        <div class="form-group">
            <label>Nom de l'entreprise <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="name" id="companyName" value="{% if post is not empty %}{{ post.name }}{% endif %}">
        </div>

        <div class="form-group">
          <label>Adresse de l'entreprise <span class="red-star">*</span></label>
          <input type="text" class="form-control" name="address" id="adresseEntreprise" value="{% if post is not empty %}{{ post.address }}{% endif %}">  
        </div>

        <div class="form-group">
            <labeL>Ville <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="city" id="ville" value="{% if post is not empty %}{{ post.city }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Code postal <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="postcode" id="postcode" value="{% if post is not empty %}{{ post.postcode }}{% endif %}">    
        </div>

        <div class="form-group">
            <label>Pays <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="country" id="pays" value="{% if post is not empty %}{{ post.country }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Téléphone professionnel <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="telephone" id="telProfessionnel" value="{% if post is not empty %}{{ post.telephone }}{% endif %}">    
        </div>

        <div class="form-group">
            <label>Numéro SIRET <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="siret" id="numeroSiret" value="{% if post is not empty %}{{ post.siret }}{% endif %}">    
        </div>

        <div class="form-group">
            <label>Numéro TVA <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="tva_nb" id="tva_nb" value="{% if post is not empty %}{{ post.tva_nb }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Secteur d'activité <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="activity_area" id="SecteurActivite" value="{% if post is not empty %}{{ post.activity_area }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Effectif <span class="red-star">*</span></label>
            <input type="text" class="form-control" name="employes_nb" id="effectif" value="{% if post is not empty %}{{ post.employes_nb }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Email <span class="red-star">*</span></label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{% if post is not empty %}{{ post.email }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Confirmation de l'email <span class="red-star">*</span></label>
            <input type="email" class="form-control" name="email_confirm" id="email_confirm" aria-describedby="emailHelp" value="{% if post is not empty %}{{ post.email_confirm }}{% endif %}">
        </div>

        <div class="form-group">
            <label>Mot de passe <span class="red-star">*</span></label>
            <input type="password" name="password" class="form-control" id="password">
        </div>

        <div class="form-group">
            <label>Confirmation du mot de passe <span class="red-star">*</span></label>
            <input type="password" class="form-control" name="password_confirm" id="password_confirm">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-submit">ENREGISTRER</button>
        </div>
    </form>
{% endblock %}