{% extends "layout.html.twig" %}

{% block content %}

<h1 class='titre-espace'>L'équipe HIDDEN PROFILE au grand jour</h1>
<hr class="trait-bleu">
    
<div class="box-principale">
    
    <div class="box stephanie">
        <figure>
            <img src="{{ asset('img/photo-stephanie.jpg') }}" alt="" class="img-circle">
            <figcaption><strong>Stéphanie</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box celine">
        <figure>
            <img src="{{ asset('img/photo-celine.jpg') }}" alt="" class="img-circle">
            <figcaption><strong>Céline</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box dimitri">
        <figure>
            <img src="{{ asset('img/photo-dimitri.jpg') }}" alt="" class="img-circle">
            <figcaption><strong>Dimitri</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box william">
        <figure>
            <img src="{{ asset('img/photo-william.jpg') }}" alt="" class="img-circle">
            <figcaption><strong>William</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box alexandre">
        <figure>
            <img src="{{ asset('img/photo-alexandre.jpg') }}" alt="" class="img-circle">
            <figcaption><strong>Alexandre</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
</div>
    
{% endblock %}
