<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title '' %} - Hidden Profile </title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- CSS principal -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        {% if user_manager.admin %}
            <br><br><br>
            <nav class="navbar navbar-inverse">
                
                    <a class="navbar-brand">Menu admin</a>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('admin') }}">GESTION DES COMMANDES</a>
                        </li>
                        <li>
                        <a href="{{ path('logout_admin') }}">DECONNEXION</a>
                        </li>
                    </ul>
                
            </nav>
        {% endif %}
                    
    <header class="header">

       <a href="{{path('homepage')}}" class="logo" id="logo"><img src="{{ asset('img/logoGreen.png') }}"></a>

       <input class="menu-btn" type="checkbox" id="menu-btn" />
       <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

       <ul class="menu">
         <li><a href="{{path('homepage')}}">ACCUEIL</a></li>
         <li><a href="{{path('share')}}">PARTAGER</a></li>

         <li class="hoverSlide">
            {# Si le candidat est connecté on affiche son nom et son prénom #}
            {% if user_manager.user %} 
                <a href="{{ path('user_dashboard') }}">{{ user_manager.userName|upper }}</a>
            {# Sinon si l'entreprise est connecté on affiche le bouton de déconnexion pour les entreprises #}
            
            {% elseif company_manager.company %} 
                <a href="{{ path('company_dashboard') }}">ESPACE ENTREPRISE</a>
                
            {# Sinon on affiche le menu "normal" #}
            {% else %}
            <a href="#">CANDIDAT<span class="arrow">&#x25BC;</span></a>

            <ul>
                <a href="{{ path('login_user') }}">Connexion</a>
                <a href="{{ path('register_user') }}">Inscription</a>
            </ul>
            {% endif %}
         </li>    

         <li class="hoverSlide">
            {# Si le candidat est connecté on affiche son nom et son prénom #}
            {% if user_manager.user %} 
                <a href="{{ path('logout_user') }}">DECONNEXION</a>
                
            {% elseif company_manager.company %}
                <a href="{{ path('logout_company') }}">DECONNEXION</a> 
                
            {# Sinon on affiche le menu "normal" #}
            {% else %}
            <a href="#">RECRUTEUR<span class="arrow">&#x25BC;</span></a>
            <ul>
                <a href="{{ path('login_company') }}">Connexion</a>
                <a href="{{ path('register_company') }}">Inscription</a>
            </ul>
            {% endif %}
         </li>          
       </ul>
     </header>
        
        <div class="container">
                 
        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ flash|raw }}
                </div>
            {% endfor %}
        {% endfor %}
 
            {% block content %}{% endblock %}
            
        </div>

        <footer>
    
            <ul id="footer-content">
              <li class="list-footer"><a href="{{ path('about_us') }}" class="footerLink">Qui sommes-nous ?</a></li>
              <li class="list-footer"><a href="{{ path('contact_us') }}" class="footerLink"> Nous contacter</a></li>
              {#<li class="list-footer"><a href="#" class="footerLink"> Espace presse</a></li>#}
            </ul>
    
        </footer>
                        
        {% block javascripts %}
            
	{#<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>#}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('js/appburger.js') }}"></script>
        {% endblock %}
        
    </body>
</html>
