{% extends "layout.html.twig" %}

{% block content %}
<h1 class='titre-espace'>ESPACE CANDIDAT</h1>
<hr class="trait-bleu">

<div class="box-resume">
    {# <p>Votre CV a été vu X fois.</p> <= À faire pour plus tard #}

    {# box-header contient les infos de l'utilisateur #}
    {# c'est cette div qu'il faudra 'cacher' aux entreprises #}

    <!-- BLOC INFO PERSONNELLES -->
    <div class="row box-header">
        <div class="col-md-12">
            <h3 class="resume-title resume-title-info-perso"> INFORMATIONS PERSONNELLES</h3>
            <ul>
                <li>{{ user.firstname }} {{ user.lastname|upper }}</li>

                <li><em>Email</em> :  {{ user.email }}</li>
                <li><em>T&eacute;l&eacute;phone</em> : {{ user.telephone }}</li>
                <li><em>Code postal</em> : {{ user.postcode }}</li>
            </ul>
        </div>
        <a href="{{ path('user_edit_profile') }}" class="btn btn-default">Modifier vos informations personnelles</a>
    </div>

    {# Si resume n'est pas null et si l'id de l'utilisateur est égale à user_id de la table resume #}
    {# => cela signifie que l'utilisateur a déjà enregistré son CV #}
    {% if resume and user.id == resume.userId %}

        {# On affiche le rendu du CV et les boutons de modifications #}

        {# Rendu du CV #}
        {% include 'resume/resume_display.html.twig' %}  {# Inclusion du fichier de l'affichage standard du CV #}

        <!-- BLOC BOUTONS DE MODIFICATION/SUPPRESSION DU CV -->
        <div class="row">
            <div class="resume-buttons">
                <a href="{{ path('resume_edit', {id: user.id}) }}" class="btn btn-default">Modifier votre CV</a>

                <a href="{{ path('resume_delete') }}" class="btn btn-default">Supprimer votre CV</a>
            </div>
        </div>
            
    {# Sinon, l'utilisateur n'a pas encore enregistré son CV.... #}
    {% else %}
        
        <div class="row box-register-resume">
            <p>Vous n'avez pas enregistré votre CV.</p>
            
            {# On affiche le bouton pour que l'utilisateur ajoute son CV. #}
            <a href="{{ path('resume_edit') }}" class="btn btn-default">
                Ajouter votre CV
            </a>
        </div>
        
    {% endif %}
</div>
    
{% endblock %}